<%= form_for(idea) do |f| %>
  <% if idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :topic %>
    <%= f.text_area :topic, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Select method to use" %>
    <select <%= f.text_area :method, class: "custom-select form-control" %> >
      <option selected>Select Analysis Method</option>
      <option value="SWOT">SWOT</option>
      <option value="PESTLE">PESTLE</option>
      <option value="STEEP">STEEP</option>
      <option value="5 Forces">5 Forces</option>  
    </select>   

  </div>

  <div class="form-group">
    <%= f.label "Select category of idea" %>
    <select <%= f.text_area :category, class: "custom-select form-control" %> >
      <option selected>Select Category</option>
      <option value="Strength">Strength</option>
      <option value="Weakness">Weakness</option>
      <option value="Opportunity">Opportunity</option>
      <option value="Threat">Threat</option>  
    </select>
  </div>


  <div class="form-group">
    <%= f.label "What is the question, factor, resource or issue?" %>
    <%= f.text_area :element, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "What strategic action will help?" %>
    <%= f.text_area :action, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :tag %>
    <%= f.text_area :tag, class: "form-control" %>
  </div>

    <%= f.submit class: "btn btn-info" %>

<% end %>
