<div class="container">

  <h1>SWOT Workshop Portal</h1>
    <table class="table table-bordered table-inverse table-hover">
      <thead class="thead-inverse">
      <tr>
        <th>Strength</th>
        <th>Weakness</th>
        <th>Opportunity</th>
        <th>Threat</th>
        <th>Action</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @ideas.each do |idea| %>
        <tr>
          <td>
          <% if idea.category == "Strength" %><%= idea.element  %>
          <% end %>
          </td>
          <td>
          <% if idea.category == "Weakness" %><%= idea.element  %>
          <% end %>
          </td>
          <td>
          <% if idea.category == "Opportunity" %><%= idea.element  %>
          <% end %>
          </td>
          <td>
          <% if idea.category == "Threat" %><%= idea.element  %>
          <% end %>
          </td>
          <td><%= idea.action %></td>
          <% if idea.user == current_user %>
            <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
            <td><%= link_to 'Delete', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Idea', new_idea_path %>

</div>

