<div class="tweet_container">
  <div class="row">
    <div class="col-md-3">
      <div class="card container">
        <div class="card-block">
          <% if user_signed_in? %>
            <h4 class="card-title">Your Profile</h4>
            <p class="card-text">Profile text</p>
            <p class="card-text"><%= link_to current_user.username, user_path(current_user.username) %></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          <% else %>
            <p class="card-text"><%= link_to "Sign up now!", signup_path %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-9 container">   
      <div class="container">
        <% if user_signed_in? %>
          <%= link_to 'What\'s happening? ', new_tweet_path %>
        <% end %>
      </div>
      <ul class="list-group">
        <% @tweets.each do |tweet| %>
            <%= link_to tweet, class: "list-group-item list-group-item-action" do %>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-2"><%= tweet.user.name %></h5>
              </div>
              <% if tweet.image.present? %>
                <center><%= image_tag tweet.image, class: 'img-fluid'%></center>
              <% end %>
              <p class="mb-2"><%= tweet.content %></p>
              <p class="list-group-item-text">
              </p>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
