<div class="container">
    <h1><%= @user.username %></h1>
    <p><%= @user.name %></p>
</div>

<div class="tweet_container">

  <div class="row">

    <div class="col-md-3">

      <div class="card container">
        <div class="card-block">
          <h4 class="card-title"><%= @user.username %></h4>
          <p class="card-text"><%= @user.name %></p>
          <% if current_user.following?(@user) %>
            <p class="card-text"><%= link_to "Unfollow", unfollow_user_path(@user.username), method: :delete %></p>
          <% else %>
            <p class="card-text"><%= link_to "Follow", follow_user_path(@user.username), method: :post %></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-9 container">
      
      <ul class="list-group">
        <% @tweets.each do |tweet| %>
            <%= link_to tweet, class: "list-group-item list-group-item-action" do %>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-2"><%= tweet.user.username %></h5>
              </div>
              <p class="mb-2"><%= tweet.content %></p>
              <p class="list-group-item-text">
              </p>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

