
<!-- Navigation Bar -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded ">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Brand -->
    <%= link_to "Loudfruit", root_path, class: "navbar-brand", style: "color:#95A5A6;" %>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Contact me", contact_path, class: "nav-link" %></li>
      </ul>
      <ul class="nav navbar-nav"
        <!-- Login Buttons -->
        <% if user_signed_in? %>
          <li class="nav-item pull-md-right"><%= link_to "Log out", signout_path, method: :delete, class: "nav-link btn btn-info btn-sm" %></li>  
        <% else %>
          <li class="nav-item pull-md-right"><%= link_to "Sign in", signin_path, class: "nav-link btn btn-outline-info" %></li> 
          <li class="nav-item pull-md-right"><%= link_to "Sign up", signup_path, class: "nav-link btn btn-info text-white"%></li>
        <% end %>
      </ul>
    </div>
</nav>
